@using Utilitario
@using Entidades
@model OrdenPago

@{
    ViewBag.Title = "Editar";

    string mensajePlaceholder = "Datos Obligatorios";
    Dictionary<EnumTipos, List<Tipo>> oListaEnumMaestras = (Dictionary<EnumTipos, List<Tipo>>)ViewBag.ListaTipos;

}

@using (Html.BeginForm())
{



    <div class="row">

        <div class="col-md-12">

            <div class="row form-horizontal">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IdOrdenPago, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.IdOrdenPago, new
                       {
                           @class = "form-control input-sm",
                           @readonly = "readonly"
                       })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Situacion, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.Situacion, new SelectList(oListaEnumMaestras[EnumTipos.TipoSituacionOrdenPago], "IdTipo", "Nombre", 0), new { @data_width = "100%", @class = "selectpicker" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-horizontal">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IdSucursal, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.IdSucursal, new SelectList(ViewBag.ListaSucursal, "IdSucursal", "NombreBancoSucursal", 0), new { @data_width = "100%", @class = "selectpicker" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-horizontal">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Moneda, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.Moneda, new SelectList(oListaEnumMaestras[EnumTipos.TipoMoneda], "IdTipo", "Nombre", 0), new { @data_width = "100%", @class = "selectpicker" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="Monto" class="col-md-3 control-label">Monto</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Monto, new
                       {
                           @class = "form-control input-sm",
                           placeholder = mensajePlaceholder,
                           @maxlength = "50"
                       })


                        </div>

                    </div>
                </div>
            </div>

            <div class="row form-horizontal">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="FechaPago" class="col-md-3 control-label">Fecha Pago</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.FechaPago, new
                       {
                           @class = "form-control input-sm",
                           placeholder = mensajePlaceholder,
                           @maxlength = "50"
                       })


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    @Html.HiddenFor(m => m.FlgEliminado)

    if (!ViewData.ModelState.IsValid)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row form-horizontal">
                    <div class="col-sm-12 col-md-12 alert alert-warning alert-dismissible">
                        <div class="form-group">
                            <div class="col-sm-6 col-md-6">
                                @Html.ValidationSummary(false, "Revisar los errrores")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="row form-horizontal">
                <div class="col-sm-12 col-md-12 btn-group">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;Grabar
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;Regresar
                    </a>

                </div>
            </div>
        </div>
    </div>

}